
@{
    ViewBag.Title = "員工列表";
    var time = DateTime.Now.ToString("yyyyMMddHHmmssfff");
}

@section scripts {
    <script src="~/Scripts/Employee/search.js?@time"></script>
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <button id="btnSearch" onclick="GetEmployeeList()">Search</button>
    <button data-toggle="modal" data-target="#divPopup" onclick="ShowAdd()">Add</button>
</div>

<div id="divResult"></div>
<div id="divPopup" class="modal" tabindex="-1" role="dialog"></div>